<?xml version="1.0"?>
<config>
    <modules>
        <Cenpos_Simplewebpay>
            <version>1.6.1.0</version>
        </Cenpos_Simplewebpay>
    </modules>
    <global>    
        <models>
            <simplewebpay>
                <class>Cenpos_Simplewebpay_Model</class>
            </simplewebpay>
        </models>
        <helpers>
            <simplewebpay>
                <class>Cenpos_Simplewebpay_Helper</class>
            </simplewebpay>
        </helpers>
        <resources>
            <simplewebpay_setup>
                <setup>
                    <module>Cenpos_Simplewebpay</module>
                </setup>
            </simplewebpay_setup>
        </resources>
        <blocks>
            <simplewebpay>
                <class>Cenpos_Simplewebpay_Block</class>
            </simplewebpay>
        </blocks>
        <template>
            <email>
                <simplewebpay_activateemail>
                    <label>Simplewebpay activate email</label>
                    <file>simplewebpay_activateemail.html</file>
                    <type>html</type>
                </simplewebpay_activateemail>
            </email>
        </template>
        <payment>
            <groups>
                <cenpospay>Simplewebpay</cenpospay>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <webpaycardtype>
                    <to_order_payment>*</to_order_payment>
                </webpaycardtype>
                <webpayrecurringsaletokenid>
                    <to_order_payment>*</to_order_payment>
                </webpayrecurringsaletokenid>
                <webpayistoken>
                    <to_order_payment>*</to_order_payment>
                </webpayistoken>
                <webpayprotectedcardnumber>
                    <to_order_payment>*</to_order_payment>
                </webpayprotectedcardnumber>
                <webpaycardexpirationdate>
                    <to_order_payment>*</to_order_payment>
                </webpaycardexpirationdate>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <secure_url>
            <webpay_processing>/webpay/processing</webpay_processing>
        </secure_url>
        <routers>
            <simplewebpay>
                <use>standard</use>
                <args>
                    <module>Cenpos_Simplewebpay</module>
                    <frontName>simplewebpay</frontName>
                </args>
            </simplewebpay>
        </routers>
        <translate>
            <modules>
                <Cenpos_Simplewebpay>
                    <files>
                        <default>Cenpos_Simplewebpay.csv</default>
                    </files>
                </Cenpos_Simplewebpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <simplewebpay>
                    <file>simplewebpay.xml</file>
                </simplewebpay>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <simplewebpay after="Mage_Adminhtml">Cenpos_Simplewebpay</simplewebpay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Cenpos_Simplewebpay>
                    <files>
                        <default>Cenpos_Simplewebpay.csv</default>
                    </files>
                </Cenpos_Simplewebpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <simplewebpay>
                    <file>simplewebpay.xml</file>
                </simplewebpay>
            </updates>
        </layout>
    </adminhtml>
    <cenpos>
        <simplewebpay>
            <verify_url>http://www.phoenix-medien.de/index.php?id=105</verify_url>
        </simplewebpay>
    </cenpos>
    <default>
        <payment>
            <simplewebpay_acc>
                <group>cenpospay</group>
                <active>0</active>
                <model>simplewebpay/acc</model>
                <payment_action>authorize_capture</payment_action>
                <title>Credit / Debit Card</title>
                <merchantID></merchantID>
                <secretkey></secretkey>
                <urlsimplewebpay></urlsimplewebpay>
                <urlviewprocess></urlviewprocess>
                <isCVV></isCVV>
                <typesimplewebpay></typesimplewebpay>
                <onlyform>0</onlyform>
                <recaptcha>1</recaptcha>
                <recaptchaversion>v3</recaptchaversion>
            </simplewebpay_acc>
        </payment>
    </default>
</config>
